# This is Git's per-user configuration file.
[user]
    name = Marcus Daly
[init]
    defaultBranch = main
[push]
    default = current
    autoSetupRemote = true
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit